*
{
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    color: #FFF3E4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html
{
    height: 100vh;
    display: flex;
}
body
{
    height: 100%;
    width: 100%;
    display: flex;
}
#content
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#header
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    flex-grow: 1.25;
    background-color: #552c0a;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#logo
{
    opacity: 50%;
    flex-grow: 1;
}
#main-container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    flex-grow: 15;
}
.tab
{
    flex-grow: 5;
    animation: 0.5s;
    animation-direction: normal;
    animation-name: slideIn;
    animation-timing-function: ease-out ; 
    animation-iteration-count: inherit;
}
@keyframes slideIn {
    0%
    {
        transform: translateX(-50%);
    }
    100%
    {
        transform: translateX(0%);
    }
}

.nav-btn
{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 5em;
    font-weight: 900;
    font-style: italic;
    font-style: oblique;
    color: wheat;
    border-radius: 0.05em;
    transition: box-shadow 0.3s ease-in-out;
}
.nav-btn:hover:enabled
{
    box-shadow: inset 0px 0px 50px 10px rgba(255, 255, 255, 0.1), 0px 0px 20px 3px rgba(255, 255, 255, 0.1);
}
.nav-btn:disabled
{
    cursor:default;
    opacity: 30%;
}
#footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.01;
    height: 5vh;
    padding: 0vh 1vw;
    background-color: #310606f3;
    z-index: 999;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
}
#credits
{
    display: flex;
    align-items: center;
    font-weight: bolder;

}
#github-link
{
    align-self: center;
    display: flex;
    align-items: center;
    height: 100%;
}
img 
{
    height: 0;
    min-height: 100%;
    object-fit: contain;
}

#tab1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome
{
    font-size: 3em;
    font-weight: 900;
}
#papa
{
    font-size: 1.5em;
    font-weight: bold;
}